@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&family=Ubuntu:ital,wght@1,300&display=swap');
:root{
    --main-bg-color:#2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    color: white;
}
nav {
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 125px;
    padding: 0 25px;
}
nav ul{
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    width:35vw;
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    margin:0 5px 0 40px
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.container{
    min-height: calc(100vh - 8vh - 12vh);
}
.slider{
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}
.card{
    max-width: 90vw;
    margin:35px auto;
    font-family: 'Ubuntu', sans-serif;
}
.card h2{
    font-family: 'Lato', sans-serif;
}
.cards{
    display: flex;
    overflow: hidden;
    /* justify-content: center; */
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
footer{
    background-color:var(--main-bg-color);
    height: 12vh;
    color: white;
    font-family: 'Lato', sans-serif;
}